<%= form_with model: morador do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% morador.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :cidade_atual %><br>
    <%= form.text_area :cidade_atual %><br>
    <% morador.errors.full_messages_for(:cidade_atual).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
